/* @media  screen and (max-width:1126px){
    .bannerimg img{
        display: none;
      }
} */
@media  screen and (max-width:950px) {
    .menu-icon{
        display: inline;
        padding: 20px 0 0 5px;
        font-size: 25px;
        cursor: pointer;
      }
      .nav_bar_links{
            flex-direction: column;
            display: none;
            padding: 20px;
            position: fixed;
            background:  #FFF5F0;
            margin: 0;
            top: 70px;
            height: calc(100% - 70px);
            width: 200px;
            overflow: auto;
            box-shadow: 0px 13px 19px 0px #00000030;
            line-height: 30px;
      }
      .demo_btn{
        display: block;
      }
      #menu-toggle:checked~.nav_bar_links{
        display:block;
        left: 1px;
        opacity: 1;
      }
      .nav_bar ul{
        display: block;
      }
      .transparent_btn{
        display: none;
      }
      .banner .container1 {
        display: block;
      }
      .bannerimg img{
        width: 50%;
        margin: 160px;
      }
      .intro_grids{
        grid-template-columns: 2fr;
      }
      .promo{
        display: block;
      }
      .more_informations{
        grid-template-columns: 1fr;
      }
          
}
@media  screen and (max-width:880px)
{
   .Activity{
        display: block;
    }
    .images{
        width: 40%;
    }
    .user_card{
        grid-template-columns: repeat(2,1fr);
    }
    .email_sub{
        min-width: 400px;
    }
    .company_info{
        grid-template-columns: repeat(3,1fr);
    }
}
@media  screen and (max-width:645px)
{   
    .bannerimg img{
        display: none;
      } 
    .images{
        display: none;
    }
    .Testimonial{
        grid-template-columns: repeat(1,1fr);
    }
    .user_card{
        grid-template-columns: repeat(1,1fr);
    }
    .company_info{
        grid-template-columns: repeat(1,1fr);
    }
    .email_sub{
        min-width: 200px;
    }
    .cart_1{
        display: block;
    }
    .bannertext h1{
        font-size: 30px;
    }
    .border_btn {
        padding: 10px 10px 10px 5px;   
        /* white-space:nowrap;  */
    }
    /* .filledbtn{
        white-space: nowrap;
        padding: 10px 10px 10px 5px; 
    } */
     .end{
        display: block;
       
    } 
    h2 {
        font-size: 20px;
    }
    .main_content h2 {
        font-size: 20px;
    }
    .login_tittle h2 {
        font-size: 20px;
    }
    .s_media{
        margin-left: 100px;
    }
} 
@media  screen and (max-width:430px) {
    .border_btn {
        padding: 10px 10px 10px 5px;   
         white-space:nowrap;  
    }
     .filledbtn{
        white-space: nowrap;
        padding: 10px 10px 10px 5px; 
    } 
    .filled_btn{
        white-space: nowrap;

    }
}
